.slider-main{
    border: 1px solid gray;
    height: 100% ;
    width: 100%;
}

.slider-list{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slider-list li {
    list-style: none;
    text-align: center;
    width: 100%;
    padding: 13px 0;
    color:#000;
    font-weight: 500;
    background-color: #fafafa;
    word-break: break-all;   /* // change */
}
.ant-menu-item-selected{
    cursor: pointer;
    background-color:#e5d8f7;
    color: #d2b9f3 !important;
    background-color: #7E37D8 !important;
}
.ant-menu-submenu-title{
 color: #000;
}
.ant-menu-submenu-title{
    color: unset !important;
}

/* .ant-menu-submenu-title{
    color: #d2b9f3 !important;
} */

.slider-list li:active{
    background-color: #7E37D8 !important;
}

/* .active{
    background-color: #7E37D8 !important;
    color: #fff !important;
} */